# --- requirements.txt ---

# Ядро dedoc 
dedoc[torch]==2.4

# Ядро camelot - форк версии 1.0.9 с изменёнными версиями зависимостей
# для корректной установки вместе с dedoc
camelot-py @ git+https://github.com/Lorax121/camelot.git

pyinstaller